# HTTP - redirect to HTTPS (Let's Encrypt)
server {
    listen 80;
    listen [::]:80;
    server_name {{DOMAIN}};

    location /.well-known/acme-challenge/ {
        root /var/certbot-webroot;
        try_files $uri =404;
    }

    location / {
        return 301 https://$server_name$request_uri;
    }
}
